html,
body {
    height: 100%;
    margin: 0;
}

/*Задаём глобальные параметры*/
body {
    text-align: center;
    /*display: flex;*/
    background: black;
    /*align-items: center;*/
    /*justify-content: center;*/
}

body > div {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle

}

/*Делаем границу вокруг игрового поля*/
canvas {
    margin-top: 25px;
    border: 1px solid white;
}

.gameInfo {
    text-align: start;

    color: white;
}

.gameInfoItem {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

.buttons {
    width: 200px;
}

.buttons button {
    display: inline-block;
    margin: 10px;
    width: 43px;
    height: 40px;
}

button.pause {
    margin-top: 50px;
    width: 180px;
    height: 30px;
}
